<ion-header>
  <ion-toolbar>
    <ion-title>Constancias</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Formulario para agregar usuarios -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="newUser.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input type="number" [(ngModel)]="newUser.edad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="newUser.correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="tel" [(ngModel)]="newUser.telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea rows="4" [(ngModel)]="newUser.descripcion"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input type="number" [(ngModel)]="newUser.cantidad"></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" color="success" (click)="save()">Guardar</ion-button>
    </ion-card-content>
  </ion-card>

  
</ion-content>
