<app-header [showMenu]="true" title="Constancias"></app-header>
<ion-content>
  <!--========== Nuevo Producto ==========-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateProduct()" color="medium">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<!--======= Generar PDF =========-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom: 80px;">
    <ion-fab-button (click)="generatePDF()" color="medium">
      <ion-icon name="document-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- ======= PRODUCTOS ==========-->
  <ion-list *ngIf="!loading">
    <ion-list-header>
      <ion-label>LISTA DE CONSTANCIAS</ion-label>
    </ion-list-header>
    <ion-item-sliding class="product-item" *ngFor="let c of constancias | paginate: { itemsPerPage: 8, currentPage: page, id: 'products-pagination' }">
      <ion-item>

        <ion-avatar slot="start">
          <img src="https://us.123rf.com/450wm/fedeni0111/fedeni01111710/fedeni0111171000091/87356483-ilustraci%C3%B3n-de-vector-de-personas-persona-icono-cuadrado.jpg" />
        </ion-avatar>

        <ion-label>
          <div class="name">{{c.name}}</div>
          <div class="data">
            <strong>E-mail: </strong>{{c.email}} <br>
            <strong>Teléfono: </strong> {{c.telefono}}
          </div>
        </ion-label>
      </ion-item>
      <!-- ========= OPCIONES =========-->
      <ion-item-options *ngIf="(currentUserType$ | async) !== 'Registrador'">
        <!-- ====== Correo =======-->
        <ion-item-option color="medium" (click)="enviarCorreo(c)">
            <ion-icon class="option-btn" name="mail-outline"></ion-icon>
        </ion-item-option>
        <!-- ======= Editar ======-->
        <ion-item-option (click)="addUpdateProduct(c)">
            <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
        <!-- ====== Eiminar =======-->
        <ion-item-option color="danger" (click)="confirmDeleteProduct(c)">
            <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
    </ion-item-options>

     
    </ion-item-sliding>
  </ion-list>

  <div class="d-flex-center junstify-content-center">
    <pagination-controls (pageChange)="page = $event" id="products-pagination" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
</ion-content>
